<div class="frame-2">
  <div class="text-wrapper">BMASFAQ</div>
  <div class="frame-3">
    <a href="{% url 'desktophome' %}" class="nav-link" id="home-link">Home</a>
    <a href="{% url 'portfolio' %}" class="nav-link" id="portfolio-link"
      >Portfolio</a
    >
    <a href="{% url 'about' %}" class="nav-link" id="about-link">About me</a>
    <a href="{% url 'contact' %}" class="nav-link" id="contact-link"
      >Contact me</a
    >
  </div>
  <div class="div-wrapper">
    <a href="{% url 'contact' %}" class="text-wrapper-4">Hire Me</a>
  </div>
</div>
