{%load static%}
<div class="frame-10">
  <!-- Instagram -->
  <div class="frame-11">
    <a href="https://www.instagram.com" target="_blank">
      <div class="ellipse"></div>
      <img class="img" src="{% static 'assets/img/mdi_instagram.png' %}" />
    </a>
  </div>

  <!-- LinkedIn -->
  <div class="frame-11">
    <a href="https://www.linkedin.com" target="_blank">
      <div class="ellipse"></div>
      <img
        class="img"
        src="{% static 'assets/img/mingcute_linkedin-line.png' %}"
      />
    </a>
  </div>

  <!-- Facebook -->
  <div class="frame-11">
    <a href="https://www.facebook.com" target="_blank">
      <div class="ellipse"></div>
      <img class="img" src="{% static 'assets/img/frame-95.png' %}" />
    </a>
  </div>

  <!-- Behance -->
  <div class="frame-11">
    <a href="https://www.behance.net" target="_blank">
      <div class="ellipse"></div>
      <img class="img" src="{% static 'assets/img/ri_behance-line.png' %}" />
    </a>
  </div>
</div>
