{% extends "base.html" %} {% block content %} {%load static%}
<!--aboutme page-->
<div class="frame-19">
  <div class="frame-26">
    <div class="text-wrapper-12">About Me</div>
    <p class="p">User Interface / User Experience And Web Developer</p>
  </div>
  <div class="frame-27">
    <div class="frame-28">
      <div class="group">
        <div class="overlap-group-2">
          <div class="rectangle-3"></div>
          <img
            class="man-in-black-suit-2"
            src="{%static  'assets/img/Man in black suit looking confident.png'%}"
          />
        </div>
      </div>
      <div class="frame-wrapper">
        <div class="frame-29">
          <p class="a-UI-UX-designer-the">
            A UI/UX designer, the modern-day curator of digital experiences,
            navigates the vast expanse of human interaction and design. With a
            keen eye for detail and an innate understanding of user needs, I
            sculpt interfaces that transcend the ordinary, guiding users through
            seamless journeys across the digital landscape.<br />Much like an
            artist, I wield wireframes and prototypes like brushes, painting
            intuitive pathways for users to follow. My screen is a canvas, where
            every element, button, and pixel plays its part in the grand
            symphony of design. Each interaction, a note in the melody of user
            engagement, harmonizes functionality with aesthetic appeal, creating
            solutions that resonate with simplicity and elegance.<br />In this
            ever-evolving atelier of technology, I am both creator and
            solver—facing design challenges with a blend of logic and
            creativity. User frustrations become puzzles to unravel, and
            feedback, the blueprint for improvement. Here, in the digital realm,
            I am not just a designer; I am a storyteller, crafting narratives of
            usability and satisfaction with every design decision I make.
          </p>
          <div class="frame-30">
            <img class="img-2" src="{%static 'assets/img/Download.png'%}" />
            <div class="text-wrapper-8">Download CV</div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-31">
      <div class="frame-32">
        <div class="overlap-group-wrapper">
          <div class="basil-figma-outline-wrapper">
            <img
              class="img-3"
              src="{%static 'assets/img/basil_figma-outline.png'%}"
            />
          </div>
        </div>
        <div class="frame-33">
          <div class="text-wrapper-16">100%</div>
          <div class="text-wrapper-17">Figma</div>
        </div>
      </div>
      <div class="frame-32">
        <div class="group-2">
          <div class="iconoir-adobe-xd-wrapper">
            <img
              class="img-3"
              src="{%static 'assets/img/iconoir_adobe-xd.png'%}"
            />
          </div>
        </div>
        <div class="frame-33">
          <div class="text-wrapper-16">100%</div>
          <div class="text-wrapper-17">Adobe XD</div>
        </div>
      </div>
      <div class="frame-32">
        <div class="group-3">
          <div class="iconoir-adobe-wrapper">
            <img
              class="img-3"
              src="{%static 'assets/img/iconoir_adobe-photoshop.png'%}"
            />
          </div>
        </div>
        <div class="frame-33">
          <div class="text-wrapper-16">85%</div>
          <div class="text-wrapper-17">Adobe PS</div>
        </div>
      </div>
      <div class="frame-32">
        <div class="group-4">
          <div class="overlap-group-3">
            <img
              class="ellipse-3"
              src="{%static 'assets/img/Ellipse 7.svg'%}"
            />
            <img
              class="img-3"
              src="{%static 'assets/img/wordpress-logo.png'%}"
            />
          </div>
        </div>
        <div class="frame-33">
          <div class="text-wrapper-16">60%</div>
          <div class="text-wrapper-17">WordPress</div>
        </div>
      </div>
      <div class="frame-32">
        <div class="group-5">
          <div class="overlap-group-4">
            <img
              class="ellipse-4"
              src="{%static 'assets/img/Ellipse 8.svg'%}"
            />
            <img
              class="basil-adobe-premiere"
              src="{%static 'assets/img/basil_adobe-premiere-outline.png'%}"
            />
          </div>
        </div>
        <div class="frame-33">
          <div class="text-wrapper-16">70%</div>
          <div class="text-wrapper-17">Visual Studio</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
