{% extends "base.html"%} {% block content%} {%load static%}
<!--Contact me-->
<div class="frame-34">
  <div class="frame-26">
    <div class="text-wrapper-12">Contact me</div>
    <p class="p">Cultivating Connections: Reach Out And Connect With Me</p>
  </div>
  <div class="frame-35">
    <div class="frame-36">
      <div class="frame-37">
        <div class="text-wrapper-18">Name</div>
      </div>
      <div class="frame-37">
        <div class="text-wrapper-18">Email</div>
      </div>
    </div>
    <div class="frame-36">
      <div class="frame-37">
        <div class="text-wrapper-18">Phone Number</div>
      </div>
      <div class="frame-37">
        <div class="service-of-interest">Service Of Interest</div>
        <img class="img-2" src="{%static 'assets/img/arrow-down-2.png'%}" />
      </div>
    </div>
    <div class="frame-38">
      <div class="frame-37">
        <div class="text-wrapper-18">Timeline</div>
      </div>
      <div class="frame-39">
        <div class="text-wrapper-18">Project Details...</div>
      </div>
    </div>
    <div class="frame-40">
      <div class="frame-14">
        <div class="text-wrapper-9">Send</div>
      </div>
    </div>
  </div>
</div>
<div class="frame-41">
  <div class="frame-42">
    <div class="text-wrapper-19">BMASFAQ</div>
    <div class="frame-3">
      <div class="text-wrapper-3">Home</div>
      <div class="text-wrapper-3">Services</div>
      <div class="text-wrapper-3">About me</div>
      <div class="text-wrapper-3">Portfolio</div>
      <div class="text-wrapper-3">Contact me</div>
    </div>
  </div>
  <div class="frame-43">
    <div class="frame-44">
      <div class="frame-11">
        <div class="ellipse"></div>
        <img class="img" src="{%static 'assets/img/mdi_instagram.png'%}" />
      </div>
      <div class="frame-11">
        <div class="ellipse"></div>
        <img
          class="img"
          src="{% static 'assets/img/mingcute_linkedin-line.png'%}"
        />
      </div>
      <div class="frame-11">
        <div class="ellipse"></div>
        <img class="img" src="{% static 'assets/img/frame-95.png'%}" />
      </div>

      <div class="frame-11">
        <div class="ellipse"></div>
        <img class="img" src="{%static 'assets/img/ri_behance-line.png'%}" />
      </div>
    </div>
    <div class="frame-45">
      <div class="frame-46">
        <img class="img-2" src="{%static 'assets/img/mail.svg'%}" />
        <div class="text-wrapper-20">asfakasf0@gmail.com</div>
      </div>
      <div class="frame-46">
        <img class="img-2" src="{%static 'assets/img/phone.svg'%}" />
        <div class="text-wrapper-20">+94 754 623 332</div>
      </div>
    </div>
  </div>
  <div class="frame-47">
    <p class="text-wrapper-21">
      Designed by @buharymohamedasfaq UI/UX designer
    </p>
  </div>
</div>

{% endblock %}
