 {% extends "base.html" %}
 {% block content %}
 {% load static %}
              <!--Home Page-->
              <div class="frame-4">
                <div class="frame-5">
                  <div class="frame-6">
                    <div class="frame-7">
                      <div class="frame-8">
                        <div class="frame-9">
                          <div class="text-wrapper-5">Hi I am</div>
                          <!--#variable interpresion syntex--><!--using filter also upper words it filter--> 
                          <div class="text-wrapper-6">{{User_Name | upper}}</div> 
                        </div>
                        <!--#variable interpresion syntex-->
                        <div class="text-wrapper-7">{{job_title}}</div>
                      </div>
                      <!--Social media link-->
                      {% include "includes/SocialMediaLink.html" %}
                      <!--Social media link-->
                    </div>
                    <div class="frame-13">
                      <!--Hire button-->
                      {% include "includes/HireButton.html" %}
                      <!--Hire button-->
                       <!--download button-->
                        {% include "includes/DownloadButton.html" %}
                       <!--download button-->
                    </div>
                  </div>
                  <div class="frame-15">
                    <div class="frame-16">
                      <div class="text-wrapper-10">{{experiences_yr}}</div><!--#variable interpresion syntex-->
                      <div class="text-wrapper-11">{{Completes_project}}</div><!--#variable interpresion syntex-->
                    </div>
                    <div class="frame-17">
                      <div class="text-wrapper-10">5+</div>
                      <div class="text-wrapper-11">Project done</div>
                    </div>
                  </div>
                </div>
                <!-- photo-->
                <div class="photo">
                  <div class="overlap-group">
                    <div class="ellipse-2"></div>
                    <img
                      class="man-in-black-suit"
                      src="{% static 'assets\img\Man in black suit looking confident.png'%}"
                    />
                  </div>
                </div>
              </div>
            </div>      
  {% endblock %}