{% extends "portfolio_base.html" %} {% block content %}
<section class="portfolio-section">
  <!--header menu bar -->
  {% include "includes/menubar.html" %}
  <!--Content Page-->

  <main class="main-content">
    <article class="project-details">
      <h2 class="project-category">Design Collection</h2>
      <h3 class="project-title">{{post.design_title}}</h3>

      <div class="main-image-container">
        <div class="main-image-wrapper">
          <div class="main-image">
            <img
              src="{{post.imageurl2}}"
              alt="Paw Squad main project image"
              class="project-image"
            />
          </div>
        </div>
      </div>

      <div class="gallery-container">
        <div class="gallery-wrapper">
          <div class="gallery-item">
            <img
              src="{{post.imageurl3}}"
              alt="Paw Squad gallery image 1"
              class="gallery-image"
            />
          </div>
          <div class="gallery-item">
            <img
              src="{{post.imageurl4}}"
              alt="Paw Squad gallery image 2"
              class="gallery-image"
            />
          </div>
          <div class="gallery-item">
            <img
              src="{{post.imageurl5}}"
              alt="Paw Squad gallery image 3"
              class="gallery-image"
            />
          </div>
        </div>
      </div>
      <div class="content-container">
        <section class="project-overview">
          <h4>{{post.Overview}}</h4>
          <p>{{post.OverviewP}}</p>
        </section>

        <section class="project-approach">
          <h4>{{post.Approach}}</h4>
          <p>{{post.ApproachP}}</p>
        </section>
      </div>
    </article>
  </main>

  <footer class="footer-container">
    <div class="footer-content">
      <div class="footer-wrapper">
        <div class="social-links">
          <a href="#" class="social-icon-wrapper">
            <div class="social-icon">
              <img
                src="https://cdn.builder.io/api/v1/image/assets/b15f7d0765b64c068ced062b78767983/980bb33ae05251f152c37b3a2f6cb17f838fde7243fdea477433bf29d56dcb0b?apiKey=b15f7d0765b64c068ced062b78767983&"
                alt="Social media icon 1"
                class="social-image"
              />
            </div>
          </a>
          <a href="#" class="social-icon-wrapper">
            <div class="social-icon">
              <img
                src="https://cdn.builder.io/api/v1/image/assets/b15f7d0765b64c068ced062b78767983/9d5ce35eb1eba1daa125d9170eb2990df352498c1b187422b9cbda6488f1ab62?apiKey=b15f7d0765b64c068ced062b78767983&"
                alt="Social media icon 2"
                class="social-image"
              />
            </div>
          </a>
          <a href="#" class="social-icon-wrapper">
            <div class="social-icon">
              <img
                src="https://cdn.builder.io/api/v1/image/assets/b15f7d0765b64c068ced062b78767983/1c112cab25eaf51486684bfaa7a8890697a294b47cbec31646fd7f3eba258099?apiKey=b15f7d0765b64c068ced062b78767983&"
                alt="Social media icon 3"
                class="social-image"
              />
            </div>
          </a>
        </div>
        <p class="copyright">© 2023 Artist Name</p>
      </div>
    </div>
  </footer>
</section>
{%endblock%}
