{% extends "base.html" %} {% block content %} {% load static %}
<!--portfolio page-->
<div class="frame-18">
  <div class="frame-19">
    <div class="text-wrapper-12">Portfolio</div>
    <div class="frame-13">
      <!-- Category Selection -->
      <div class="frame-20">
        <a href="{% url 'portfolio' %}" class="category-button">All</a>
      </div>
      <div class="frame-21">
        <a
          href="{% url 'portfolio_by_category' category='Website Design' %}"
          class="category-button"
          >Website Design</a
        >
      </div>
      <div class="frame-21">
        <a
          href="{% url 'portfolio_by_category' category='Mobile App Design' %}"
          class="category-button"
          >Mobile App Design</a
        >
      </div>
      <div class="frame-21">
        <a
          href="{% url 'portfolio_by_category' category='App Desktop' %}"
          class="category-button"
          >App Desktop</a
        >
      </div>
      <div class="frame-21">
        <a
          href="{% url 'portfolio_by_category' category='Braiding' %}"
          class="category-button"
          >Braiding</a
        >
      </div>
    </div>
  </div>

  <div class="frame-22">
    <!--if using to check any post here then show-->
    {% if Design_post %} {% for design in Design_post%}<!--for tage s use create the post just tag method-->
    <!--this one post code-->
    <div class="frame-23">
      <a href="{% url 'New_design_details' Design_post_id=design.id %}">
        <img src="{{design.imageurl }}" alt="Footprint Image" />
      </a>
      <div class="frame-24">
        <div class="text-wrapper-14">{{design.design_title}}</div>
        <!--for tage s use create the post just tag method-->
        <div class="text-wrapper-15">{{design.design_catagories}}</div>
        <!--for tage s use create the post just tag method-->
      </div>
    </div>

    {% endfor %} {% else %}
    <div class="text-wrapper-14">No post available</div>
    {% endif %}
  </div>
</div>
{% endblock %}
