{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <script src="{% static 'js/menu.js' %}"></script>
    <title>{{page_title | default:"Documents"}}</title>
  </head>
  <body>
    <!--Menu bar-->
    <div class="desktop">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="frame">
            <div class="div">
              <!--Content Page-->
              {% block content %} 
              {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>